@media(min-width: 1540px) {
    .actions-row {
        width: 8%;
    }
}

@media(max-width: 1200px) {
    .actions-row {
        width: 20%;
    }
} 

@media(min-width: 1200px) and (max-width: 1540px) {
    .actions-row {
        width: 15%;
    }
}

th label {
    margin-bottom: 0;
}

.pagination {
    justify-content: flex-end;
}

.active {
    background-color: grey;
}

form {
    flex-wrap: nowrap !important;
    margin-right: 2rem !important;
}

form button {
    margin-left: .5rem;
}