@media(min-width: 1440px) {
    .actions-row {
        width: 8%;
    }
}

@media(max-width: 1200px) {
    .actions-row {
        width: 20%;
    }
} 

@media(min-width: 1200px) and (max-width: 1440px) {
    .actions-row {
        width: 15%;
    }
} 
